

<form accept-charset="UFT-8" action="/user" class="new_user" id="new_user" method="post">

	<div style="display:none">
		<input name="UFT-8" type="hidden" value="✓">
		<input name="authenticity_token" type="hidden" value="jg9+Q+gQR+LN6lgAtyQBVsMkvyFtSqIyAx5kFOwa7I8=">

	  <div>

	  	<label for="user_email">Email</label>
         <br>
	  	<input autofocus="autofocus" id="user_email" name="user[email]" type="email" value="">
	  </div>
	  <div>
	  	<label for="user_password">Password</label>
         <br>
	  	<input autocomplete="off" id="user_password" name="user[password]" type="password">
          </div>
          <div>
          <label for="user_password_confirmation">Password confirmation</label>
          <br>
      </div>
      <div>
      	<input name="commit" type="submit" value="Sign up">
      </div>
